/* TOKENS */
:root {
  --paper: #f7f5f0;
  --ink: #141414;
  --ink-soft: #6b6b6b;
  --font-display: "Jost", sans-serif;
  --font-main: "IBM Plex Mono", monospace;
  --font-article: "IBM Plex Sans", sans-serif;
}

/* FONTS */
/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/ibm-plex-mono-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/ibm-plex-mono-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/ibm-plex-sans-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/jost-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* --- RESET --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

html {
  font-family: var(--font-main);
  margin: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--paper);
  color: var(--ink);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* FOOTER (condiviso su tutte le pagine) */
footer {
  font-size: 0.75rem;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: block;
  text-align: center;
}

.footer-top::before {
  content: "[ ";
}

.footer-top::after {
  content: " ]";
}

.footer-top {
  border-bottom: 1px dashed var(--ink-soft);
  padding-bottom: 1rem;
  margin-bottom: 10px;
}

.footer-social,
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  text-align: center;
}
